weather_service_one/src/main/resources/weather.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://meteoservices.com/weather_service_one"
           targetNamespace="http://meteoservices.com/weather_service_one" elementFormDefault="qualified">

    <xs:element name="getWeatherRequest">

    </xs:element>

    <xs:element name="getWeatherResponse">

    </xs:element>

    <xs:complexType name="weather">
        <xs:sequence>
            <xs:element name="temperature" type="xs:int"/>
            <xs:element name="windSpeed" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>